@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: styles/index.css */

@layer components {
  .page-background {
    width: 440px;
    height: 440px;
    border-radius: 19rem;
    background-image: radial-gradient(
        63.44% 82.03% at 55.58% -15.63%,
        #5adde6 0%,
        rgba(90, 221, 230, 0.26) 53.72%,
        rgba(90, 221, 230, 0) 100%
      ),
      linear-gradient(
        26.62deg,
        rgba(249, 124, 89, 0.8) 20.64%,
        rgba(249, 124, 89, 0) 49.82%
      ),
      linear-gradient(56.79deg, #b95be6 33.79%, rgba(185, 91, 230, 0) 72.67%),
      linear-gradient(
        301.08deg,
        rgba(252, 178, 91, 0.91) 20.42%,
        rgba(252, 178, 91, 0) 60.38%
      ),
      linear-gradient(
        141.57deg,
        rgba(78, 173, 235, 0.85) 19.08%,
        rgba(78, 173, 235, 0) 98.72%,
        #d3e4ff
      );
    background-blend-mode: normal, normal, darken, normal, normal, normal;
    filter: blur(48px);
  }
}
